<%= form_with(model: company_advertisement, local: true) do |form| %>
  <% if company_advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_advertisement.errors.count, "error") %> prohibited this company_advertisement from being saved:</h2>

      <ul>
      <% company_advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_advertisement_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :company_advertisement_description %>
  </div>

  <div class="field">
    <%= form.label :ads_image %>
    <%= form.text_field :ads_image, id: :company_advertisement_ads_image %>
  </div>

  <div class="field">
    <%= form.label :ads_duration %>
    <%= form.number_field :ads_duration, id: :company_advertisement_ads_duration %>
  </div>

  <div class="field">
    <%= form.label :ads_active %>
    <%= form.check_box :ads_active, id: :company_advertisement_ads_active %>
  </div>

  <div class="field">
    <%= form.label :company_branch_id %>
    <%= form.text_field :company_branch_id, id: :company_advertisement_company_branch_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
