<h1>Editing Company Advertisement</h1>

<%= render 'form', company_advertisement: @company_advertisement %>

<%= link_to 'Show', @company_advertisement %> |
<%= link_to 'Back', company_advertisements_path %>
