<p id="notice"><%= notice %></p>

<h1>Company Advertisements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Ads image</th>
      <th>Ads duration</th>
      <th>Ads active</th>
      <th>Company branch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_advertisements.each do |company_advertisement| %>
      <tr>
        <td><%= company_advertisement.name %></td>
        <td><%= company_advertisement.description %></td>
        <td><%= company_advertisement.ads_image %></td>
        <td><%= company_advertisement.ads_duration %></td>
        <td><%= company_advertisement.ads_active %></td>
        <td><%= company_advertisement.company_branch %></td>
        <td><%= link_to 'Show', company_advertisement %></td>
        <td><%= link_to 'Edit', edit_company_advertisement_path(company_advertisement) %></td>
        <td><%= link_to 'Destroy', company_advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Advertisement', new_company_advertisement_path %>
