<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_advertisement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company_advertisement.description %>
</p>

<p>
  <strong>Ads image:</strong>
  <%= @company_advertisement.ads_image %>
</p>

<p>
  <strong>Ads duration:</strong>
  <%= @company_advertisement.ads_duration %>
</p>

<p>
  <strong>Ads active:</strong>
  <%= @company_advertisement.ads_active %>
</p>

<p>
  <strong>Company branch:</strong>
  <%= @company_advertisement.company_branch %>
</p>

<%= link_to 'Edit', edit_company_advertisement_path(@company_advertisement) %> |
<%= link_to 'Back', company_advertisements_path %>
