<%= form_with(model: company_branch, local: true) do |form| %>
  <% if company_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_branch.errors.count, "error") %> prohibited this company_branch from being saved:</h2>

      <ul>
      <% company_branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_branch_name %>
  </div>

  <div class="field">
    <%= form.label :street1 %>
    <%= form.text_field :street1, id: :company_branch_street1 %>
  </div>

  <div class="field">
    <%= form.label :street2 %>
    <%= form.text_field :street2, id: :company_branch_street2 %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :company_branch_postal_code %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :company_branch_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :company_branch_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :company_branch_country %>
  </div>

  <div class="field">
    <%= form.label :company_headquarter_id %>
    <%= form.text_field :company_headquarter_id, id: :company_branch_company_headquarter_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
