<p id="notice"><%= notice %></p>

<h1>Company Branches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street1</th>
      <th>Street2</th>
      <th>Postal code</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Company headquarter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_branches.each do |company_branch| %>
      <tr>
        <td><%= company_branch.name %></td>
        <td><%= company_branch.street1 %></td>
        <td><%= company_branch.street2 %></td>
        <td><%= company_branch.postal_code %></td>
        <td><%= company_branch.city %></td>
        <td><%= company_branch.state %></td>
        <td><%= company_branch.country %></td>
        <td><%= company_branch.company_headquarter.name %></td>
        <td><%= link_to 'Show', company_branch %></td>
        <td><%= link_to 'Edit', edit_company_branch_path(company_branch) %></td>
        <td><%= link_to 'Destroy', company_branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Branch', new_company_branch_path %>
