<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_branch.name %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @company_branch.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @company_branch.street2 %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @company_branch.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @company_branch.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company_branch.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company_branch.country %>
</p>

<p>
  <strong>Company headquarter:</strong>
  <%= @company_branch.company_headquarter %>
</p>

<%= link_to 'Edit', edit_company_branch_path(@company_branch) %> |
<%= link_to 'Back', company_branches_path %>
