<%= form_with(model: employee_role, local: true) do |form| %>
  <% if employee_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_role.errors.count, "error") %> prohibited this employee_role from being saved:</h2>

      <ul>
      <% employee_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_role_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
