<p id="notice"><%= notice %></p>

<h1>Employee Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_roles.each do |employee_role| %>
      <tr>
        <td><%= employee_role.name %></td>
        <td><%= link_to 'Show', employee_role %></td>
        <td><%= link_to 'Edit', edit_employee_role_path(employee_role) %></td>
        <td><%= link_to 'Destroy', employee_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Role', new_employee_role_path %>
