<%= form_with(model: company_headquarter, local: true) do |form| %>
  <% if company_headquarter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_headquarter.errors.count, "error") %> prohibited this company_headquarter from being saved:</h2>

      <ul>
      <% company_headquarter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_headquarter_name %>
  </div>

  <div class="field">
    <%= form.label :registration_id %>
    <%= form.text_field :registration_id, id: :company_headquarter_registration_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
