<p id="notice"><%= notice %></p>

<h1>Company Headquarters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_headquarters.each do |company_headquarter| %>
      <tr>
        <td><%= company_headquarter.name %></td>
        <td><%= company_headquarter.registration_id %></td>
        <td><%= link_to 'Show', company_headquarter %></td>
        <td><%= link_to 'Edit', edit_company_headquarter_path(company_headquarter) %></td>
        <td><%= link_to 'Destroy', company_headquarter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Headquarter', new_company_headquarter_path %>
