<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_headquarter.name %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @company_headquarter.registration_id %>
</p>

<%= link_to 'Edit', edit_company_headquarter_path(@company_headquarter) %> |
<%= link_to 'Back', company_headquarters_path %>
