<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="height: 500px;">
    <div class="carousel-item active">

      <%= image_tag 'Untitled-1.jpg', option_html: {class: 'd-block w-100'} %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'Untitled-1.jpg', option_html: {class: 'd-block w-100'} %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'Untitled-1.jpg', option_html: {class: 'd-block w-100'} %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container p-5">
  <div class="row">
    <div class="col">
      <h1>Why choose us</h1>
    </div>
  </div>
</div>