<%= form_with(model: employee_staff_address, local: true) do |form| %>
  <% if employee_staff_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_staff_address.errors.count, "error") %> prohibited this employee_staff_address from being saved:</h2>

      <ul>
      <% employee_staff_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_staff_detail_id %>
    <%= form.text_field :employee_staff_detail_id, id: :employee_staff_address_employee_staff_detail_id %>
  </div>

  <div class="field">
    <%= form.label :street1 %>
    <%= form.text_field :street1, id: :employee_staff_address_street1 %>
  </div>

  <div class="field">
    <%= form.label :street2 %>
    <%= form.text_field :street2, id: :employee_staff_address_street2 %>
  </div>

  <div class="field">
    <%= form.label :postal %>
    <%= form.text_field :postal, id: :employee_staff_address_postal %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :employee_staff_address_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :employee_staff_address_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :employee_staff_address_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
