<h1>Editing Employee Staff Address</h1>

<%= render 'form', employee_staff_address: @employee_staff_address %>

<%= link_to 'Show', @employee_staff_address %> |
<%= link_to 'Back', employee_staff_addresses_path %>
