<p id="notice"><%= notice %></p>

<h1>Employee Staff Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Employee staff detail</th>
      <th>Street1</th>
      <th>Street2</th>
      <th>Postal</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_staff_addresses.each do |employee_staff_address| %>
      <tr>
        <td><%= employee_staff_address.employee_staff_detail.first_name %></td>
        <td><%= employee_staff_address.street1 %></td>
        <td><%= employee_staff_address.street2 %></td>
        <td><%= employee_staff_address.postal %></td>
        <td><%= employee_staff_address.city %></td>
        <td><%= employee_staff_address.state %></td>
        <td><%= employee_staff_address.country %></td>
        <td><%= link_to 'Show', employee_staff_address %></td>
        <td><%= link_to 'Edit', edit_employee_staff_address_path(employee_staff_address) %></td>
        <td><%= link_to 'Destroy', employee_staff_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Staff Address', new_employee_staff_address_path %>
