<p id="notice"><%= notice %></p>

<p>
  <strong>Employee staff detail:</strong>
  <%= @employee_staff_address.employee_staff_detail %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @employee_staff_address.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @employee_staff_address.street2 %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @employee_staff_address.postal %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee_staff_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee_staff_address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee_staff_address.country %>
</p>

<%= link_to 'Edit', edit_employee_staff_address_path(@employee_staff_address) %> |
<%= link_to 'Back', employee_staff_addresses_path %>
