<%= form_with(model: employee_staff_detail, local: true) do |form| %>
  <% if employee_staff_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_staff_detail.errors.count, "error") %> prohibited this employee_staff_detail from being saved:</h2>

      <ul>
      <% employee_staff_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :employee_staff_detail_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :employee_staff_detail_last_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :employee_staff_detail_gender %>
  </div>

  <div class="field">
    <%= form.label :nric %>
    <%= form.text_field :nric, id: :employee_staff_detail_nric %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :employee_staff_detail_dob %>
  </div>

  <div class="field">
    <%= form.label :socso_id %>
    <%= form.text_field :socso_id, id: :employee_staff_detail_socso_id %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :employee_staff_detail_phone_number %>
  </div>

  <div class="field">
    <%= form.label :spouse_name %>
    <%= form.text_field :spouse_name, id: :employee_staff_detail_spouse_name %>
  </div>

  <div class="field">
    <%= form.label :spouse_phone_number %>
    <%= form.text_field :spouse_phone_number, id: :employee_staff_detail_spouse_phone_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
