<h1>Editing Employee Staff Detail</h1>

<%= render 'form', employee_staff_detail: @employee_staff_detail %>

<%= link_to 'Show', @employee_staff_detail %> |
<%= link_to 'Back', employee_staff_details_path %>
