<p id="notice"><%= notice %></p>

<h1>Employee Staff Details</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Nric</th>
      <th>Dob</th>
      <th>Socso</th>
      <th>Phone number</th>
      <th>Spouse name</th>
      <th>Spouse phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_staff_details.each do |employee_staff_detail| %>
      <tr>
        <td><%= employee_staff_detail.first_name %></td>
        <td><%= employee_staff_detail.last_name %></td>
        <td><%= employee_staff_detail.gender %></td>
        <td><%= employee_staff_detail.nric %></td>
        <td><%= employee_staff_detail.dob %></td>
        <td><%= employee_staff_detail.socso_id %></td>
        <td><%= employee_staff_detail.phone_number %></td>
        <td><%= employee_staff_detail.spouse_name %></td>
        <td><%= employee_staff_detail.spouse_phone_number %></td>
        <td><%= link_to 'Show', employee_staff_detail %></td>
        <td><%= link_to 'Edit', edit_employee_staff_detail_path(employee_staff_detail) %></td>
        <td><%= link_to 'Destroy', employee_staff_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Staff Detail', new_employee_staff_detail_path %>
