<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee_staff_detail.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee_staff_detail.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee_staff_detail.gender %>
</p>

<p>
  <strong>Nric:</strong>
  <%= @employee_staff_detail.nric %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employee_staff_detail.dob %>
</p>

<p>
  <strong>Socso:</strong>
  <%= @employee_staff_detail.socso_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee_staff_detail.phone_number %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @employee_staff_detail.spouse_name %>
</p>

<p>
  <strong>Spouse phone number:</strong>
  <%= @employee_staff_detail.spouse_phone_number %>
</p>

<%= link_to 'Edit', edit_employee_staff_detail_path(@employee_staff_detail) %> |
<%= link_to 'Back', employee_staff_details_path %>
